{:paths ["src"]
 :tasks {:requires ([filler.tasks :as tasks]
                    [filler.fillers :as fillers])
         init (tasks/init)
         clear (tasks/clear)
         fillers (tasks/list)
         fill-with (exec 'filler.tasks/run-filler)}
 }
 
