{:paths ["src"]
 :tasks {:requires ([filler.tasks :as tasks]
                    [filler.fillers :as fillers])
         init (tasks/init)
         clear (tasks/clear)
         list (tasks/list)
         proccess (exec 'filler.tasks/run-filler)}
 }
 
