{:paths ["src"]
 :tasks {:requires ([filler.tasks :as tasks]
                    [filler.fillers :as fillers])
         init {:doc "Initialize the tool in the system"
               :task (tasks/init)}
         clear {:doc "Remove the tool in the system"
                :task (tasks/clear)}
         list {:doc "List all the fillers found in the path configured in the init task"
               :task (tasks/list)}
         proccess {:doc "Proccess a filler using its name"
                   :task (exec 'filler.tasks/run-filler)}}
 }
 
